.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__button {
  padding: 6px 22px;
  @include font(16px, 500, 26px, 0.03em);
  color: var(--primary-color);
  background-color: var(--grey-bg);
  border-radius: 4px;
  transition: color var(--main-transition),
    background-color var(--main-transition), box-shadow var(--main-transition),
    border-radius var(--main-transition);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--highlight-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
