.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
}

.menu__link {
  color: var(--primary-color);
  transition: color var(--main-transition);
  @include font(14px, 500, 16px, 0.02em);

  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}

.menu__link_current {
  position: relative;
  color: var(--highlight-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--highlight-color);
  }
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
  transition: color var(--main-transition);
  @include font(14px, 500, 16px, 0.02em);

  &:hover,
  &:focus {
    color: var(--highlight-color);
  }
}

.contacts__icon {
  fill: currentColor;
}
