.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  // @include font(26px, 700, 31px, 0.03em);
  @include font(24px, 700, 28px, 0.03em);
  color: var(--highlight-color);
}

.logo__second-word {
  color: var(--black-color);
}

// .header__logo {
//   margin-right: 93px;
// }

.footer__logo {
  margin-bottom: 20px;

  .logo__second-word {
    color: var(--white-color);
  }
}
