.section__title {
  margin-bottom: 30px;
  text-align: center;
  @include font(28px, 700, 33px, 0.03em);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    @include font(36px, 700, 42px, 0.03em);
  }
}
